<h2>Services:</h2>
<services-list *ngIf="services.length > 0" 
               [services]="services" 
               [expanded]="true" 
               [level]="0"></services-list>
<h3 *ngIf="services.length === 0">No services</h3>

<h2>Test</h2>
<collist expanded="true">
    <collist-item *ngFor="let service of services">
        {{service.name}}
        <collist [expanded]="false"
                 *ngIf="service.services != null && service.services.length > 0">
            <collist-item *ngFor="let childService of service.services">
                {{childService.name}}
                <collist [expanded]="false"
                         *ngIf="childService.services != null && childService.services.length > 0">
                    <collist-item *ngFor="let nieceService of childService.services">
                        {{nieceService.name}}
                    </collist-item>
                </collist>
            </collist-item>
        </collist>
    </collist-item>
</collist>