<span class="serviceBadge">
    <mat-icon *ngIf="level > 1">subdirectory_arrow_right</mat-icon>
    <button mat-icon-button *ngIf="service.services.length > 0 && !expanded"
            (click)="toogleExpanded()">
        <mat-icon>expand_more</mat-icon>
    </button>        
    <button mat-icon-button *ngIf="service.services.length > 0 && expanded"
            (click)="toogleExpanded()">
        <mat-icon>expand_less</mat-icon>
    </button>
    {{service.name}}
    <mat-icon *ngIf="service.isOk" class="isOk">check</mat-icon>
    <mat-icon *ngIf="!service.isOk" class="isNotOk">close</mat-icon>
</span>
<services-list *ngIf="service.services.length > 0" 
               [services]="service.services" 
               [expanded]="expanded"
               [level]="level"></services-list>