<li [class.isDeepChild]="level > 2">
    <span>
        <mat-icon *ngIf="level > 1">subdirectory_arrow_right</mat-icon>
        <button mat-icon-button *ngIf="child != null && !child.expanded"
                (click)="toogleExpanded()">
            <mat-icon>expand_more</mat-icon>
        </button>        
        <button mat-icon-button *ngIf="child != null && child.expanded"
                (click)="toogleExpanded()">
            <mat-icon>expand_less</mat-icon>
        </button>
        <ng-content></ng-content>
    </span>
</li>